/detectron2/
/논문 모음/
/yolov5m.pt
/yolov5/runs/train/
/yolov5/runs/detect/
/pytorch_project_fine_tuning.ipynb
/pytorch_project_Image_preprocessing.ipynb
/pytorch_project_ImageFolder.ipynb
/pytorch_project_resnet50.ipynb
/~$제안서 초안.docx
/~WRL1670.tmp
